/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* 吹き出し立ち絵 */
.MuiPaper-root.sc-edERGn.kEQhkG.MuiPaper-elevation1.MuiPaper-rounded>img,
/* カットイン */
.sc-tAExr,
  /* 背景 */
  .sc-ZOtfp,
  /* 盤面 */
  .sc-bGaVxB,
  /* キャラ */
  .sc-jKTccl,
  /* チャット */
  .sc-khQegj>.MuiPaper-root,
  /* モーダル削除 */
  [role="presentation"],
  /* ヘッダー削除 */
  header>.MuiToolbar-gutters,
  /* 音量 */
  .sc-kYHfwS,
  /* 拡大縮小 */
  .sc-cVAmsi,
  /* 鉛筆ボタン */
  .sc-dkQkyq,
  /* 監視モード */
  .MuiSnackbar-root,
  /* スクロールバー */
  ::-webkit-scrollbar {
  display: none !important;
}

/* 盤面のサイズ */
.sc-gSQFLo {
  width: 100% !important;
}

/**************************
  吹き出し
  **************************/
/* 全体 */
.MuiPaper-root {
  max-width: 850px;
  background-color: rgba(0, 0, 0, 0) !important;
}

/* 全体ぼかし */
.MuiPaper-root.sc-edERGn.kEQhkG.MuiPaper-elevation1.MuiPaper-rounded
  .sc-hJZKUC.lodvgl {
  filter: drop-shadow(0 0 20px rgb(0, 0, 0));
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
}

/* 吹き出し部分 背景 */
.MuiPaper-root.sc-jlsrNB.ldYVfF.MuiPaper-elevation1.MuiPaper-rounded {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.15));
  height: 200px;
  background-image: url(https://takamineA.github.io/obsCustomCSS/2021_11/balloon.png) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

/* padding調整 */
.MuiPaper-root.ldYVfF .MuiToolbar-gutters {
  padding: 30px 50px 0 !important;
}
.MuiPaper-root.ldYVfF .cvajyX {
  padding: 0px 50px 15px !important;
  height: 70px;
}

/* フォント変更 */
.MuiTypography-subtitle2,
.MuiTypography-body2,
.MuiTypography-body1 {
  font-family: "Yu Mincho", "YuMincho", serif;
}

/* ダイス画像削除 */
.MuiPaper-root .sc-ewSTlh {
  opacity: 0;
}
/* 吹き出し内ボタン削除 */
.MuiPaper-root button {
  opacity: 0;
}
